[submodule "mjson"]
	path = mjson
	url = git@bitbucket.org:tmidas/mjson.git
[submodule "mxml"]
	path = mxml
	url = git@bitbucket.org:tmidas/mxml.git
[submodule "mvodb"]
	path = mvodb
	url = git@bitbucket.org:tmidas/mvodb.git
[submodule "midasio"]
	path = midasio
	url = git@bitbucket.org:tmidas/midasio.git
