[submodule "mjson"]
	path = mjson
	url = ../mjson.git
[submodule "mxml"]
	path = mxml
	url = ../mxml.git
[submodule "mvodb"]
	path = mvodb
	url = ../mvodb.git
[submodule "midasio"]
	path = midasio
	url = ../midasio.git
